<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alpha">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingDefaultResource">
        <activity android:name=".Profile.ChangePassword"></activity>
        <activity android:name=".Tutorials.TutorialActivity" />
        <activity android:name=".Course.CourseActivity" />
        <activity android:name=".Profile.EditDetails" />
        <activity android:name=".Activity.HelpActivity" />
        <activity android:name=".Activity.DashboardActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Wallet.TransactionsActivity" />
        <activity android:name=".Activity.RazorpaySection" />
        <activity android:name=".Activity.ChainActivity" />
        <activity android:name=".Activity.FigerPrintActivity" />
        <activity android:name=".Registration.ReferCodeAcitvity" />
        <activity android:name=".Registration.PaytmPayment" />
        <activity android:name=".Activity.MyProfile" />
        <activity android:name=".Registration.Signup_Activity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Registration.self_details" />
        <activity android:name=".Registration.verificaton_phone" />
        <activity android:name=".Registration.verification_code" />
        <activity android:name=".Registration.ConfirmAmount" />
        <activity android:name=".Wallet.walletActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_TfooHqhKgVhKEq" />

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>