<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingDefaultResource">
        <activity android:name=".Wallet.TransactionsActivity"></activity>
        <activity android:name=".Activity.ChainActivity" />
        <activity android:name=".Activity.FigerPrintActivity" />
        <activity android:name=".Registration.ReferCodeAcitvity" />
        <activity android:name=".Registration.PaytmPayment" />
        <activity android:name=".Activity.MyProfile" />
        <activity android:name=".Registration.Signup_Activity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Registration.self_details" />
        <activity android:name=".Registration.verificaton_phone" />
        <activity android:name=".Registration.verification_code" />
        <activity android:name=".Registration.ConfirmAmount" />
        <activity android:name=".Wallet.walletActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.MainActivity2" />
        <activity
            android:name=".Activity.IntroActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>